<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
        <h2 flex flex-order="1">
            <span>Обновления</span>
        </h2>
        <div  flex flex-order="2" layout="row" layout-align="end center">

        </div>
    </div>


</md-toolbar>
<md-content md-scroll-y style="height: {{!update_list.list.length?0:440}}px;">
    <md-list>
        <md-list-item class="md-3-line md-no-proxy animated fadeInLeft" ng-repeat="item in update_list.list | orderBy:update_list.order | limitTo: update_list.limit track by item.id">
            <div class="md-list-item-text">
                <h3 ng-bind-html="item.title"></h3>
                <h4 ng-bind-html="item.author"></h4>
                <p>Обновлено: <timer unix-time="item.unix_time"></timer></p>
                <p ng-show="!!item.note_visable" ng-bind-html="item.note"></p>
            </div>
            <div class="md-list-item-control-right-top">
                <md-button class="md-icon-button md-primary" aria-label="Settings" ng-if="!!item.note" ng-class="{'active': !item.note_visable}" ng-click="item.note_visable = !item.note_visable">
                    <ng-md-icon icon="event_note" options="{'duration': 375}"></ng-md-icon>
                    <md-tooltip>
                        {{!!item.note_visable?'Скрыть': 'Показать'}} Описание
                    </md-tooltip>
                </md-button>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap  layout-margin ng-if="!!update_list.list.length && update_list.limit != update_list.list.length">
        <md-button class="md-fab" aria-label="Показать ещё" ng-click="update_list.addToLimit()">
            <ng-md-icon icon="control_point" options="{'duration': 375}"></ng-md-icon>
            <md-tooltip>
                Показать ещё
            </md-tooltip>
        </md-button>
    </div>
</md-content>